*
!cmake
!CMakeLists.txt
!docs/man
!etc/apache2/renderd-example-map.conf
!etc/apache2/tile.load.in
!etc/renderd/renderd.conf.examples
!etc/renderd/renderd.conf.in
!includes
!src
!tests
!utils/example-map

# AutoTools
!autogen.sh
!configure.ac
!etc/renderd/renderd.conf
!m4
!Makefile.am
!modules.mk
