Dockerfile

.git

_libs
.deps/
.dirstamp
.libs
.libs/
*.la
*.lo
*.o
*.slo
*.tab.c
aclocal.m4
autom4te.cache/*
compile
config.cache
config.guess
config.guess~
config.h
config.h.in
config.h.in~
config.log
config.lt
config.status
config.status.lineno
config.sub
config.sub~
configure
configure.lineno
configure~
depcomp
gen_tile_test
includes/config.h
includes/stamp-h1
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
missing
mod_tile.la
render_expired
render_list
render_old
render_speedtest
renderd
renderd.sock
renderd.stats
src/.libs/*
src/*.la
src/*.lo
src/*.o
src/*.slo
stamp-h1
stderr.out
