Makefile*
*.o
*.la
*.lo
*.slo
.deps/
.libs/
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
gen_tile_test
iniparser3.0b/.deps/
iniparser3.0b/.libs/
install-sh
libtool
ltmain.sh
missing
render_expired
render_list
render_old
render_speedtest
renderd
stamp-h1
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
