[Unit]
Description=Rendering daemon for Openstreetmap tiles

[Service]
Type=forking
ExecStart=/usr/bin/renderd
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
