[Unit]
Description=Daemon that renders map tiles using mapnik
Documentation=man:renderd
After=network.target auditd.service

[Service]
RuntimeDirectory=/run/renderd
RuntimeDirectoryMode=0755
ExecStart=/usr/local/bin/renderd -f

[Install]
WantedBy=multi-user.target
