Source: libapache2-mod-tile
Section: utils
Priority: optional
Maintainer: Frederik Ramm <frederik@remote.org>
Build-Depends: debhelper (>= 7), apache2-dev (>= 2.4.0), libmapnik-dev | libmapnik2-dev, autoconf, automake, m4, libtool
Standards-Version: 3.9.3

Package: libapache2-mod-tile
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, renderd | tirex-master, apache2
Suggests: renderd
Description: Apache module to deliver tiles created by renderd
 This Apache module receives map tiles requests and satisfies them from
 tiles stored on disk, or queries a renderd instance to create them.

Package: renderd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libapache2-mod-tile
Recommends: osm2pgsql, openstreetmap-mapnik-stylesheet-data
Description: Daemon that renders map tiles using mapnik
 This daemon creates "metatiles" for map tile requests issued by mod_tile
 using the mapnik library.

