[Unit]
Description=Mapnik rendering daemon

[Service]
ExecStart=/usr/bin/renderd -f
Restart=always
User=www-data

[Install]
WantedBy=multi-user.target
